# config-file-type: JSON 1
{
    "db"    : {
        "dsn"       : "DBI:mysql:spacebotwar",
        "password"  : "s3cr3t",
        "username"  : "me",
    },
    "redis_server"  : "localhost:6379",
    "ws_server"     : "ws://localhost:5000/ws/game/lobby",
}
