# config-file-type: JSON 1
{
    "db"    : {
        "dsn"       : "DBI:mysql:sbw_icydee",
        "password"  : "sbw",
        "username"  : "sbw_icydee",
    },
    "redis_server"  : "localhost:7000",
    "ws_server"     : "ws://spacebotwar.co.uk:5000/ws/game/lobby",
    "secret"        : "a random code",
    "email_secret"  : "another random code",
}
